/* Enkel CSS-reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}
body{
  background: url(./bilder/Zeta_middag.jpg);
background-size: cover;
}
.kontainer{
  background: rgb(236, 236, 229);
margin: auto;
width: 1200px;
height: 1000px;
display: grid;
}
.siduhuvud{
text-align: center;
}
.siduhuvud img{
width: 150px;
}
.grid img p{
  
}
.grid img {
width: 250px;
padding: 20px;
background-color: #ffffff;

}
.grid img p{
 
}