/* Enkel CSS-reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}
body{
  background-color: whitesmoke;
}
table{
border-collapse: collapse;
margin-top: 70px;
border-radius: 2px;
padding: 50px;
margin: auto;
width: 900px;
}
tr{
  background-color: blueviolet;

}
th{
  padding: 20px;
  font-size: 17px;
  border: 1px;
  font-family:"Liberation Mono","Courier New",monospace;
  border-radius:1px;
  text-align: start;
  background-color: aqua;
 
}
caption{
font-style: monospace;
padding: 30px;
font-size: 30px;
margin:auto 0 auto;
width: 100%;

}
tr caption th{

}
td{
  border-bottom: 1px solid;
  padding: 10px;
  font-size: 17px;
  font-family:sans-serif;
 background-color: blue;
}

td img{
  width: 30px;
}