body{
background-image:url(landskap.png) ;
}

h1{
  font:'Open Sans', sans-serif;;
color: yellow;
margin: 20px;
}

p{
font:'Open Sans', sans-serif; ;
background-color: darkblue;
color: yellow;
width: 500px;
border: white;
padding: 20px;
margin: 10px;
border-radius: 10px;
}

img{

}
