body {
background-color: lightyellow;
}

h1{
  font-family: 'Contrail One', cursive;
  font-size: 80px;
  color: lightblue;
}

h2{
  font-family: 'Contrail One', cursive;
}

p{




}
font-family: 'Sail', cursive;
a{



}