/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Sidans utseende */
body.sida1{
    background: url(./bilder/bild3.jpg);
}
body.sida2{
    background: url(./bilder/bild1.jpg); 
}
body.sida3{
    background: url(./bilder/bild1.jpg); 
}
body.sida4{
    background: url(./bilder/bild1.jpg); 
}
body.sida5{
    background: url(./bilder/bild1.jpg); 
}
body.sida6{
    background: url(./bilder/bild2.jpg); 
}


/* Utseende på boxen */
div{
    width: 700px;
    margin: 50px auto 0 auto;
    border: 10px;
    text-align: center;
    padding: 70px;
    background: lightslategray;
    border-radius: 5px 5px 5px;
    margin-top: 200px;
    border-style: groove double;
    border-color: black;
}
/* Innehållets Utseende */
 h1{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 80px;

}
p {
    font-family: 'Frijole', cursive;
    font-size: 30px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: white;
    text-decoration: underline;
}